# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.deps
.spec
Makefile
autom4te.cache
config.h
config.log
config.status
modulecmd
modules.lsm
stamp-h
stamp-h1